In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv('http://cdn.sundog-soft.com/SelfDriving/CarVideos.csv')

In [4]:
df

    Video ID  Vehicle  Conditions   Time
0          1  Model 3  Light Rain   8:03
1          2  Model S  Heavy Rain   9:04
2          3  Model X  Light Rain  13:13
3          4  Model 3       Clear  15:34
4          5  Model 3       Clear   7:03
5          6  Model X       Clear   5:03
6          7  Model 3  Light Rain  19:45
7          8  Model S  Heavy Rain  21:33
8          9  Model 3       Clear   8:33
9         10  Model 3       Clear  11:53
10        11  Model X       Clear   8:22
11        12  Model X       Clear  18:43

In [3]:
df.head()

   Video ID  Vehicle  Conditions   Time
0         1  Model 3  Light Rain   8:03
1         2  Model S  Heavy Rain   9:04
2         3  Model X  Light Rain  13:13
3         4  Model 3       Clear  15:34
4         5  Model 3       Clear   7:03